{% extends 'base.html' %}
{% load static %}
{% load catalog_tags %}


{% block meta_description %}
    {% if service.keywords_description %}
	    {{ service.keywords_description|my_safe:current_filial }}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% if service.keywords %}
	    {{ service.keywords|my_safe:current_filial }}
    {% endif %}
{% endblock %}

{% block title_page %}
    {% if service.name %}
	    {{ service.name|my_safe:current_filial }}
    {% endif %}
{% endblock %}

{% block title_page_og %}
    {% if service.name %}
	    {{ service.name|my_safe:current_filial }}
    {% endif %}
{% endblock %}

{% block meta_description_og %}
    {% if service.keywords_description %}
	    {{ service.keywords_description|my_safe:current_filial }}
    {% endif %}
{% endblock %}


{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/service_page.css'%}">
{% endblock %}

{% block content %}

<section class="service_page" data-product-id="{{ current_service.id }}">
	<div class="container">
		{% include 'includes/elements/breadcrumb.html' %}
        {% csrf_token %}

		<div class="service_page__wrapper">
			<section class="service_page__text">
				<h1>{{ current_service.full_title }}</h1>
				<div class="service_page__text-annotation">
					<div class="textpage__text seo__textblock">
						{{ current_service.description|safe }}
					</div>
					<div class="service_page__text-image">
                        <img src="{% if current_service.images.first %}{{ current_service.images.first.image.url }}{% else %}{% static 'img/images/default_image.webp' %}{% endif %}" 
                            alt="{{ current_service.title }}">
                    </div>
				</div>
			</section>
            <div class="service_page__right-column">
                <aside class="service_page__aside">
                    <div class="price"> 
                        <span>Цена</span>
                        <span>
                            {% if current_service.display_price and current_service.price_type == 'from' %}от {% endif %}
                            {{ current_service.display_price|format_price }}
                            {% if current_service.display_price > 0 %} ₽{% endif %}
                        </span>
                    </div>
                    <button class="addProduct addtocart {% if current_service.id in cart_product_ids %}purchased{% endif %}">
                        <span>
                            {% if current_service.id in cart_product_ids %}
                                В корзине
                            {% else %}
                                В корзину
                            {% endif %}
                        </span>
                    </button>
                </aside>

                <aside class="service_page__form-aside">
                    <div class="service_page__aside-title">Купить в 1 клик</div>
                    <p>Наш менеджер свяжется с Вами</p>
                    {% include "service/service-form/service-form.html" %}
                </aside>
            </div>

		</div>
		{% include "includes/s-all/s-all-seo-text/s-all-seo-text.html" %}
	</div>
</section>

{% endblock %}
