{% load static %}
{% load catalog_tags %}

<section class="seotext">
	<div class="container">
		<h2>Заголовок SEO текста</h2>
		<h3>Подзаголовок</h3>
		<p>Наши СТО в Екатеринбурге и Нижнем Тагиле укомплектованы современным высокоточным оборудованием, разрешающим
			выполнять любые операции по ремонту и техническому обслуживанию транспортных средств всех марок и моделей на
			достойном уровне, включая шиномонтаж и автомойку: для точной локализации неисправностей машины и снижения
			расходов ее владельца мы выполняем бесплатную диагностику;у нас работают лучшие мастера, высокие квалификации
			разрешают им учитывать особенности разных моделей, предлагают лучшие варианты восстановления
			работоспособности;ТО и ремонт выполняются оперативно, сопровождаются надежными гарантиями. Мы обслуживаем
			европейские, российские, азиатские и американские автомобили. Перед визитом на СТО целесообразно записаться по
			телефону у менеджера на удобную вам дату и время.
		</p>
		<p>Наши СТО в Екатеринбурге и Нижнем Тагиле укомплектованы современным высокоточным оборудованием, разрешающим
			выполнять любые операции по ремонту и техническому обслуживанию транспортных средств всех марок и моделей на
			достойном уровне, включая шиномонтаж и автомойку: для точной локализации неисправностей машины и снижения
			расходов ее владельца мы выполняем бесплатную диагностику;у нас работают лучшие мастера, высокие квалификации
			разрешают им учитывать особенности разных моделей, предлагают лучшие варианты восстановления
			работоспособности;ТО и ремонт выполняются оперативно, сопровождаются надежными гарантиями. Мы обслуживаем
			европейские, российские, азиатские и американские автомобили. Перед визитом на СТО целесообразно записаться по
			телефону у менеджера на удобную вам дату и время.
		</p>
		<div class="seo__hidden-part hidden">
			<p>Наши СТО в Екатеринбурге и Нижнем Тагиле укомплектованы современным высокоточным оборудованием, разрешающим
				выполнять любые операции по ремонту и техническому обслуживанию транспортных средств всех марок и моделей на
				достойном уровне, включая шиномонтаж и автомойку: для точной локализации неисправностей машины и снижения
				расходов ее владельца мы выполняем бесплатную диагностику;у нас работают лучшие мастера, высокие
				квалификации разрешают им учитывать особенности разных моделей, предлагают лучшие варианты восстановления
				работоспособности;ТО и ремонт выполняются оперативно, сопровождаются надежными гарантиями. Мы обслуживаем
				европейские, российские, азиатские и американские автомобили. Перед визитом на СТО целесообразно записаться
				по телефону у менеджера на удобную вам дату и время.
			</p>
			<div class="text-table-wrapper">
				<div class="text-table">
					<table>
						<thead>
							<tr>
								<th scope="col">Заголовок</th>
								<th scope="col">Заголовок</th>
								<th scope="col">Заголовок</th>
								<th scope="col">Заголовок</th>
								<th scope="col">Заголовок</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Текст</th>
								<th>Текст</th>
								<th>Текст</th>
								<th>Текст</th>
								<th>Текст</th>
							</tr>
							<tr>
								<th scope="row">Текст</th>
								<th>Текст</th>
								<th>Текст</th>
								<th>Текст</th>
								<th>Текст</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<img class="seo_img" src="{% static 'img/images/seotext_image.webp' %}" alt="">
		</div>
		<p class="seotext__showmore">Читать полностью...</p>
	</div>
</section>



{% comment %} 
{% with description=current_menu.description %}
    {% if description|clean_html %}
        <section class="seotext">
            <div class="seo__textblock">
                {{ description|safe|my_safe:template_vars }}
            </div>
        </section>
    {% else %}        
        {% if is_page_product %}
            {% if static_texts.auto_product_seo_text|clean_html %}
                <section class="seo">
                    <div class="seo__textblock">
                        {{ static_texts.auto_product_seo_text|safe|my_safe:template_vars }}
                    </div>
                </section>
            {% endif %}
        {% else %}
            {% if static_texts.auto_category_seo_text|clean_html %}
                <section class="seo">
                    <div class="seo__textblock">
                        {{ static_texts.auto_category_seo_text|safe|my_safe:template_vars }}
                    </div>
                </section>
            {% endif %}
        {% endif %}
    {% endif %}
{% endwith %} {% endcomment %}
