{% load static %}
{% load catalog_tags %}
{% load humanize %}



<section class="product" data-product-id="{{ product.id }}">
	<div class="container">
		{% include 'includes/elements/breadcrumb.html' %}
        {% csrf_token %}

        <h1 id="page-h1-title">{{ product.full_title }} в {{ current_filial.name_info }}</h1>
		
        <div class="product__wrapper">
            {% with all_images=product.images.all %}
                <div class="product__image">
                    {% with main_image=all_images.first %}
                        {% if main_image %}
                            <img src="{{ main_image.image.url }}" alt="{{ main_image.alt_text|default:product.full_title }}">
                        {% else %}
                            <img src="{% static 'img/images/default_image.webp' %}" alt="{{ product.full_title }}">
                        {% endif %}
                    {% endwith %}
                </div>
            {% endwith %}

            {% if product_features or product.sku %}
                <div class="product__chars">
                    <div class="product__chars-title">Основные характеристики</div>
                    {% if product.sku %} 
                    <div class="product__chars-item"> 
                        <span>Артикул </span>
                        <a href="#">{{ product.sku }}</a>
                    </div>
                    {% endif %}
                    {% for feature_name, feature_values in product_features.items %}
                        <div class="product__chars-item"> 
                            <span>{{ feature_name }}</span>
                            <a href="#">{{ feature_values|join:", " }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            {% include 'pages/product/product-content.html' %}
			
            <aside class="product__price">
				<div> 
                    <span>Цена</span>
                    {% if product.display_price > 0 %}
                        <span>
                            {% if product.price_type == 'from' %}от {% endif %}
                            {{ product.display_price|format_price }} ₽
                        </span>
                    {% else %}
                        <span>{{ product.display_price|format_price }}</span>
                    {% endif %}
                </div>
				<button class="addProduct addtocart {% if product.id in cart_product_ids %}purchased{% endif %}">
                    <span>
                        {% if product.id in cart_product_ids %}
                            В корзине
                        {% else %}
                            В корзину
                        {% endif %}
                    </span>
                </button>
			</aside>
			
            {% include 'pages/product/product-form.html' %}
		</div>
		<div class="product__similar">
			<div class="product__similar-title">Похожие товары</div>
			<div class="product__similar-wrapper">			
				{% for product in similar_products %}
                    {% include "includes/cards/similar-product-card/similar-product-card.html" with product=product %}
                {% empty %}
                    <p>Похожие товары не найдены.</p>
                {% endfor %}
            </div>
		</div>
	</div>
</section>
{% include "includes/s-all/s-all-seo-text/s-all-seo-text.html" %}