{% load static %}
{% load catalog_tags %}
{% load humanize %}


{% comment %} <main class="product_page">
    <div class="container">
        {% include 'includes/elements/breadcrumb.html' %}
        <h1 id="page-h1-title">{{ product.full_title }} в {{ current_filial.name_info }}</h1>
        <section class="product__wrapper">
            <div class="product__info">
                <div class="product__images">
                    {% with all_images=product.images.all %}
                        <div class="product__images-image">
                            {% with main_image=all_images.first %}
                                {% if main_image %}
                                    <img src="{% static '{{ main_image.image.url }}' %}" alt="{{ main_image.alt_text|default:product.full_title }}">
                                {% else %}
                                    <img src="{% static 'img/images/default_product.webp' %}" alt="{{ product.full_title }}">
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="product__images-list">
                            {% for image in all_images|slice:"3" %}
                                <div><img src="{% static '{{ image.image.url }}' %}" alt="{{ image.alt_text|default:product.full_title }}"></div>
                            {% endfor %}
                        </div>
                    {% endwith %}
                </div>
                {% if product_features or product.sku %}
                <div class="product__chars">
                    <div class="product__chars-title">Характеристики</div>
                    <div class="product__chars-list">
                        {% if product.sku %} <div class="char"> <span>Артикул</span><a>{{ product.sku }}</a></div> {% endif %}
                        {% for feature_name, feature_values in product_features.items %}
                            <div class="char"> <span>{{ feature_name }}</span><a>{{ feature_values|join:", " }}</a></div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if product.description|clean_html %}
                    <div classs="product__descr">
                        <div class="product__chars-title">Описание</div>
                        <div class="product__descr-text">
                            {{ product.description|safe }}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if product.display_price > 0 %}
            <div class="product__price">
                <div class="product__price-offer">
                    <p>Цена <span>за {{ product.unit|default:"шт." }}</span></p>
                    {% if product.display_price > 0 %}
                        <p>
                            {% if product.price_type == 'from' %}от {% endif %}
                            {{ product.display_price|format_price }} ₽
                        </p>
                    {% else %}
                        <p>{{ product.display_price|format_price }}</p>
                    {% endif %}
                </div>
                <div class="product__price-btn">
                    <button class="btn js-add-to-cart {% if product.id in cart_product_ids %}in-cart{% endif %}" 
                            data-product-id="{{ product.id }}">
                        {% if product.id in cart_product_ids %}
                            В корзине
                        {% else %}
                            В корзину
                        {% endif %}
                    </button>
                </div>
            </div>
            {% else %}
                {% include "pages/product/p-product-form.html" %}
            {% endif %}
        </section>
        
        <!-- recently viewed -->
        {% if recently_viewed_products %}
        <section class="special-offers seen">
            <div class="special-offers__title">
                <div class="main__title">Ранее просмотренные товары</div>
                <div class="slider__controls"> 
                    <button class="left" id="special-offers-left"> 
                        <svg class="icon icon-arrow-right" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M5 12h14M12 5l7 7-7 7" fill="none" stroke="#228AED" stroke-width="2"> </path>
                        </svg>
                    </button>
                    <button class="right" id="special-offers-right">
                        <svg class="icon icon-arrow-right" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M5 12h14M12 5l7 7-7 7" fill="none" stroke="#228AED" stroke-width="2"> </path>
                        </svg>
                    </button>
                </div>            
            </div>
            <div class="special__offers-slider swiper">
                <div class="special-offers__wrapper swiper-wrapper">
                    {% for p in recently_viewed_products %}
                    <div class="product-card swiper-slide {% if p.id in cart_product_ids %}purchased{% endif %}" data-product-id="{{ p.id }}" >
                        <div class="product-card__image">
                            <a href="{{ p.get_absolute_url }}">
                                <img src="{% static '{% if p.images.first %}{{ p.images.first.image.url }}{% else %}{% static ' %}'img/images/default_image.webp' %}{% endif %}" alt="{{ p.title }}">
                            </a>
                        </div>
                        <div class="product-card__descr">
                            <div class="product-card__title">
                                <a href="{{ p.get_absolute_url }}">{{ p.full_title|truncatechars:30 }}</a>
                            </div>
                            <div class="product-card__price">
                                <div>Цена</div>
                                <div>{{ p.display_price|format_price }} ₽/ {{ p.unit|default:"шт." }}</div>
                            </div>
                            <button class="js-add-to-cart" data-product-id="{{ p.id }}">
                                {% if p.id in cart_product_ids %}В корзине{% else %}В корзину{% endif %}
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
        
        {% include "includes/s-all/s-all-seo-text/s-all-seo-text.html" %}
        {% include "includes/s-all/s-all-form/s-all-form.html" %}
    </div>
</main> {% endcomment %}

<section class="product">
	<div class="container">
		{% include 'includes/elements/breadcrumb.html' %}

        <h1 id="page-h1-title">{{ product.full_title }} в {{ current_filial.name_info }}</h1>
		
        <div class="product__wrapper">
            {% with all_images=product.images.all %}
                <div class="product__image">
                    {% with main_image=all_images.first %}
                        {% if main_image %}
                            <img src="{{ main_image.image.url }}" alt="{{ main_image.alt_text|default:product.full_title }}">
                        {% else %}
                            <img src="{% static 'img/images/default_image.webp' %}" alt="{{ product.full_title }}">
                        {% endif %}
                    {% endwith %}
                </div>
            {% endwith %}

            {% if product_features or product.sku %}
                <div class="product__chars">
                    <div class="product__chars-title">Основные характеристики</div>
                    {% if product.sku %} 
                    <div class="product__chars-item"> 
                        <span>Артикул </span>
                        <a href="#">{{ product.sku }}</a>
                    </div>
                    {% endif %}
                    {% for feature_name, feature_values in product_features.items %}
                        <div class="product__chars-item"> 
                            <span>{{ feature_name }}</span>
                            <a href="#">{{ feature_values|join:", " }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            {% include 'pages/product/product-content.html' %}
			
            <aside class="product__price">
				<div> 
                    <span>Цена</span>
                    <span>Договорная</span>
                </div>
				<button class="addProduct">В корзину</button>
			</aside>
			
            {% include 'pages/product/product-form.html' %}
		</div>
		<div class="product__similar">
			<div class="product__similar-title">Похожие товары</div>
			<div class="product__similar-wrapper">
				{% include "includes/cards/similar-product-card/similar-product-card.html" %}
			</div>
		</div>
	</div>
</section>
