

<aside class="product__buy">
    <div class="product__buy-title">Купить в 1 клик</div>
    <p>Наш менеджер свяжется с Вами</p>
    <form class="modal__form" id="form_buy_id" method="post" action="{% url 'checkout:send_form_order' %}">
        {% csrf_token %}
        <input name="comp_input_hidden" value="">
        <div style="position:absolute; left:-9000px; top: -9000px; height:1px; width:1px; overflow:hidden;" aria-hidden="true">
            <label for="id_hp_confirm_url">Подтвердите URL (оставьте пустым)</label>
            <input type="text" name="website_url_confirm" id="id_hp_confirm_url" value="" tabindex="-1" autocomplete="off">
        </div> 
        <input type="hidden" name="form_render_timestamp" value="{{ form_render_timestamp_value }}">
        <input type="hidden" name="type" value="buy_one_clic">
        <input type="hidden" name="comment" value="{{ product.full_title }}">  
        
        <input id="product__buy-tel" type="tel" name="phone" placeholder="+7 999 999-99-99*" required data-phone>
        <div id="phone-error" class="phone-error" style="display:none; color:red;">Неправильный номер телефона</div>

        <button class="form__submit" type="submit">Отправить</button>

        <div class="form__agree">
            <div class="form-group">
                <label class="form__checkbox">
                    <input type="checkbox" name="agreement">
                    <div class="custom-icon"></div>
                    <div class="form__checkmark">
                        <span> Я даю своё согласие на обработку моих персональных данных в соответствии с законом №152-ФЗ "О персональных данных" и&nbsp;</span>
                        {% if project_settings.privacy_policy_file %}
                            <a class="policy" href="{{ project_settings.privacy_policy_file.url }}" target="_blank" rel="noopener">Политикой обработки персональных данных</a>
                        {% else %}
                            <a class="policy" href="#" target="_blank" rel="noopener">Политикой обработки персональных данных</a>
                        {% endif %}
                    </div>
                </label>
                <div class="agreement-error form-error" style="display:none; color:red; margin-top: 5px;">Это поле обязательно для заполнения.</div>
            </div>
            
            <div class="form-group">
                <label class="form__checkbox">
                    <input class="js-consent" type="checkbox" name="marketing_consent">
                    <div class="custom-icon"></div>
                    <div class="form__checkmark">
                        {% comment %} <span> Я соглашаюсь получать информационно-рекламные материалы</span> {% endcomment %}
                        {% if project_settings.marketing_agreement_file %}
                            <span> Я соглашаюсь получать <a class="policy" href="{{ project_settings.marketing_agreement_file.url }}">информационно-рекламные</a> материалы</span>
                        {% else %}
                            <span> Я соглашаюсь получать информационно-рекламные материалы</span>
                        {% endif %}  
                    </div>
                </label>
            </div>
        </div>
    </form>
</aside>