{% load static %}
{% load catalog_tags %}
{% load humanize %}




<div class="product__description" data-tabs="product">
    <div class="product__tabs"> 
    <button class="tablink active" data-target="description">{{ product.full_title }}</button>
    <button class="tablink" data-target="delivery">Оплата и доставка</button>
    {% if product.related_services.all %}
        <button class="tablink" data-target="services">Сопутствующие услуги</button>
    {% endif %}
    </div>
    <div class="cat_menu__content">
        <div class="tabcontent active" id="description">
            {% if product.description|clean_html %}
                {{ product.description|safe }}
            {% else %}
                {% include "includes/s-all/product-auto-text/product-auto-text.html" %}
            {% endif %}
        </div>
        
        <div class="tabcontent" id="delivery">
            {% if product.payment_and_delivery_info|clean_html %}
                {{ product.payment_and_delivery_info|safe }}
            {% else %}
                {% include "includes/s-all/delivery-auto-text/delivery-auto-text.html" %}
            {% endif %}
        </div>
        
        {% if product.related_services.all %}
        <div class="tabcontent" id="services">
            <div class="links">
                {% for service in product.related_services.all %}
                <a href="{{ service.get_absolute_url }}">
                    <span>{{ service.title }}</span>
                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.92209 1V8.3125C9.92209 8.42439 9.87765 8.53169 9.79853 8.61081C9.71941 8.68993 9.61211 8.73438 9.50022 8.73438C9.38833 8.73438 9.28102 8.68993 9.20191 8.61081C9.12279 8.53169 9.07834 8.42439 9.07834 8.3125V2.01813L0.798344 10.2981C0.71837 10.3726 0.612594 10.4132 0.5033 10.4113C0.394006 10.4094 0.289726 10.3651 0.212431 10.2878C0.135137 10.2105 0.0908613 10.1062 0.0889329 9.99692C0.0870045 9.88762 0.127574 9.78185 0.202094 9.70187L8.48209 1.42188H2.18772C2.07583 1.42188 1.96853 1.37743 1.88941 1.29831C1.81029 1.21919 1.76584 1.11189 1.76584 1C1.76584 0.888112 1.81029 0.780806 1.88941 0.701689C1.96853 0.622572 2.07583 0.578125 2.18772 0.578125H9.50022C9.61211 0.578125 9.71941 0.622572 9.79853 0.701689C9.87765 0.780806 9.92209 0.888112 9.92209 1Z"
                            fill="#021549"></path>
                    </svg>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>