{% load static %}
{% load catalog_tags %}
{% load humanize %}



<section class="category">
	<div class="container">
		{% include 'includes/elements/breadcrumb.html' %}

		<h1>{{ h1_title }} в {{ current_filial.name_info }}</h1>
		
        {% if subcategories %}
        <div class="category__wrapper">
            {% for subcat in subcategories %}
                {% include 'includes/cards/category-card/category-card.html' %}
            {% endfor %}
		</div>
        {% endif %}
	</div>
</section>
