{% load static %}
{% load catalog_tags %}




{% if is_page_product %}
    {% if static_texts.product_auto_text|clean_html %}
        <div class="product-auto-text">
            {{ static_texts.product_auto_text|safe|my_safe:template_vars }}
        </div>
    {% else %}
        <div class="product-auto-text">
            <p>Мачта с мобильной короной ВМО (МГФ-М-50) и другие товары, купленные в интернет-магазине «Woland
                Light», отправляются клиентам только после 100% оплаты. Условия доставки обговариваются с менеджером
                при подтверждении покупки. После согласования деталей рассчитывается индивидуальный маршрут перевозки
                груза.
            </p>
            <p>Развитая логистика позволяет нам безопасно и оперативно транспортировать товары любого объема в
                Екатеринбург и по всей стране. Мы используем собственный парк автомобилей с разной грузоподъёмностью.
                Доставляем товары до терминала или склада клиента, а также до точно указанного им адреса. Мы всегда на
                связи по телефону 8 (800) 500-22-98 или почте zakaz@svetaopora.ru.
            </p>
            <p>Важно! У клиента на руках должны быть документы, позволяющие получить груз – это может быть
                доверенность или оригинальная регистрационная бумага.
            </p> 
        </div>
    {% endif %}
{% endif %}