{% load static %}

<section class="cover">
	<div class="container">
		<div class="cover__wrapper">
			<h1>Надёжные поставки металлопроката по всей России</h1>
			<div class="cover__text">
				<ul>
					<li>Закрываем вашу потребность одним счётом и берём на себя комплектацию</li>
					<li>Сроки фиксируем на старте и держим в курсе каждого этапа</li>
					<li>Доставка по России через проверенных транспортных партнёров — до склада или на объект</li>
				</ul>
				<p>*Обращаем ваше внимание, что мы не работаем с физическими лицами! Минимальная сумма заказа — 20 тыс. ₽.
				</p>
				<a class="cover__text-btn" href="/catalog/">В каталог</a>
			</div>
		</div>
	</div>
	<!-- для обрезки шестеренок-->
	<div class="container__inner">
		<div class="cover__animation"> 
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="one">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="two">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="three">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="four">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="five">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="six">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="seven">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="eight">
        </div>
	</div>
</section>
