{% load static %}


<section class="popular">
	<div class="container">
		<div class="subtitle">
			<div class="subtitle_red">Популярные категории</div>
			<a class="subtitle_link" href="/catalog/">Весь каталог</a>
		</div>
		<div class="popular__cats">
			<div class="popular__item">
				<a class="popular__item-title" href="/category.html">Трубный прокат</a>
				<div class="popular__item__inner">
					<ul class="popular__item-list">
						<li> <a href="/subcategory.html">Асбестоцементные трубы</a></li>
						<li><a href="#">Биметаллические трубы</a></li>
						<li><a href="#">Дренажные трубы</a></li>
						<li><a href="#">Оцинкованные трубы</a></li>
						<li><a class="popular__showmore" href="#">Смотреть все </a></li>
					</ul>
					<div class="popular__icon"> 
                        <img src="{% static 'img/icons/icon_category_lg.svg' %}" alt="Трубный прокат">
                        <img class="hidden" src="{% static 'img/images/cover_popular.webp' %}" alt="Трубный прокат">
                    </div>
				</div>
			</div>
			<div class="popular__item">
				<a class="popular__item-title" href="#">Фасонный прокат</a>
				<div class="popular__item__inner">
					<ul class="popular__item-list">
						<li> <a href="#">Асбестоцементные трубы</a></li>
						<li><a href="#">Биметаллические трубы Биметаллические трубы Биметаллические трубы Биметаллические
							трубы</a>
						</li>
						<li><a href="#">Дренажные трубы</a></li>
						<li><a href="#">Оцинкованные трубы</a></li>
						<li><a class="popular__showmore" href="#">Смотреть все </a></li>
					</ul>
					<div class="popular__icon"> 
                        <img src="{% static 'img/icons/icon_fasonnyj_lg.svg' %}" alt="Фасонный прокат">
                        <img class="hidden" src="{% static 'img/images/fasonnyj.webp' %}" alt="Фасонный прокат">
                    </div>
				</div>
			</div>
			<div class="popular__item">
				<a class="popular__item-title" href="#">Канаты</a>
				<div class="popular__item__inner">
					<ul class="popular__item-list">
						<li> <a href="#">Асбестоцементные трубы</a></li>
						<li><a href="#">Биметаллические трубы</a></li>
						<li><a href="#">Дренажные трубы</a></li>
						<li><a href="#">Оцинкованные трубы</a></li>
						<li><a class="popular__showmore" href="#">Смотреть все </a></li>
					</ul>
					<div class="popular__icon"> 
                        <img src="{% static 'img/icons/icon_kanaty_lg.svg' %}" alt="Канаты">
                        <img class="hidden" src="{% static 'img/images/cover_popular.webp' %}" alt="Трубный прокат">
                    </div>
				</div>
			</div>
			<div class="popular__item">
				<a class="popular__item-title" href="#">Сортовой прокат</a>
				<div class="popular__item__inner">
					<ul class="popular__item-list">
						<li> <a href="#">Асбестоцементные трубы</a></li>
						<li><a href="#">Биметаллические трубы</a></li>
						<li><a href="#">Дренажные трубы</a></li>
						<li><a href="#">Оцинкованные трубы</a></li>
						<li><a class="popular__showmore" href="#">Смотреть все </a></li>
					</ul>
					<div class="popular__icon"> 
                        <img src="{% static 'img/icons/icon_sort_lg.svg' %}" alt="Сортовой прокат">
                        <img class="hidden" src="{% static 'img/images/sortovoy.webp' %}" alt="Сортовой прокат">
                    </div>
				</div>
			</div>
			<div class="popular__item">
				<a class="popular__item-title" href="#">Листовой прокат</a>
				<div class="popular__item__inner">
					<ul class="popular__item-list">
						<li> <a href="#">Асбестоцементные трубы</a></li>
						<li><a href="#">Биметаллические трубы</a></li>
						<li><a href="#">Дренажные трубы</a></li>
						<li><a href="#">Оцинкованные трубы</a></li>
						<li><a class="popular__showmore" href="#">Смотреть все </a></li>
					</ul>
					<div class="popular__icon"> 
                        <img src="{% static 'img/icons/icon_list_lg.svg' %}" alt="Листовой прокат">
                        <img class="hidden" src="{% static 'img/images/cover_popular.webp' %}" alt="Трубный прокат">
                    </div>
				</div>
			</div>
			<div class="popular__item">
				<a class="popular__item-title" href="#">Сортовой прокат</a>
				<div class="popular__item__inner">
					<ul class="popular__item-list">
						<li> <a href="#">Асбестоцементные трубы</a></li>
						<li><a href="#">Биметаллические трубы</a></li>
						<li><a href="#">Дренажные трубы</a></li>
						<li><a href="#">Оцинкованные трубы</a></li>
						<li><a class="popular__showmore" href="#">Смотреть все </a></li>
					</ul>
					<div class="popular__icon"> 
                        <img src="{% static 'img/icons/icon_sort_lg.svg' %}" alt="Сортовой прокат">
                        <img class="hidden" src="{% static 'img/images/cover_popular.webp' %}" alt="Трубный прокат">
                    </div>
				</div>
			</div>
			<div class="popular__item">
				<a class="popular__item-title" href="#">Проволока</a>
				<div class="popular__item__inner">
					<ul class="popular__item-list">
						<li> <a href="#">Асбестоцементные трубы</a></li>
						<li><a href="#">Биметаллические трубы</a></li>
						<li><a href="#">Дренажные трубы</a></li>
						<li><a href="#">Оцинкованные трубы</a></li>
						<li><a class="popular__showmore" href="#">Смотреть все </a></li>
					</ul>
					<div class="popular__icon"> 
                        <img src="{% static 'img/icons/icon_sort_lg.svg' %}" alt="Сортовой прокат">
                        <img class="hidden" src="{% static 'img/images/provoloka.webp' %}" alt="Проволока">
                    </div>
				</div>
			</div>
			<div class="popular__item">
				<a class="popular__item-title" href="#">Кабели</a>
				<div class="popular__item__inner">
					<ul class="popular__item-list">
						<li> <a href="#">Асбестоцементные трубы</a></li>
						<li><a href="#">Биметаллические трубы</a></li>
						<li><a href="#">Дренажные трубы</a></li>
						<li><a href="#">Оцинкованные трубы</a></li>
						<li><a class="popular__showmore" href="#">Смотреть все </a></li>
					</ul>
					<div class="popular__icon"> 
                        <img src="{% static 'img/icons/icon_list_lg.svg' %}" alt="Листовой прокат">
                        <img class="hidden" src="{% static 'img/images/cables.webp' %}" alt="Трубный прокат">
                    </div>
				</div>
			</div>
			<div class="popular__item">
				<a class="popular__item-title" href="#">Сортовой прокат</a>
				<div class="popular__item__inner">
					<ul class="popular__item-list">
						<li> <a href="#">Асбестоцементные трубы</a></li>
						<li><a href="#">Биметаллические трубы</a></li>
						<li><a href="#">Дренажные трубы</a></li>
						<li><a href="#">Оцинкованные трубы</a></li>
						<li><a class="popular__showmore" href="#">Смотреть все </a></li>
					</ul>
					<div class="popular__icon"> 
                        <img src="{% static 'img/icons/icon_sort_lg.svg' %}" alt="Сортовой прокат">
                        <img class="hidden" src="{% static 'img/images/cover_popular.webp' %}" alt="Трубный прокат">
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>
