{% load static %}


<section class="popular">
	<div class="container">
		<div class="subtitle">
			<div class="subtitle_red">Популярные категории</div>
			<a class="subtitle_link" href="/catalog/">Весь каталог</a>
		</div>

		<div class="popular__cats">
            {% for category in popular_categories %}
                <div class="popular__item">
                    <a class="popular__item-title" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    <div class="popular__item__inner">

                        {% with children=category.prefetched_children|slice:":4" %}
                        <ul class="popular__item-list">
                            {% for child in children %}
                                <li> <a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
                            {% endfor %}
                            <li>
                                <a class="popular__showmore" href="{{ category.get_absolute_url }}">Смотреть все</a>
                            </li>
                        </ul>
                        {% endwith %}

                        <div class="popular__icon">
                            <img src="{% if category.image %}{{ category.image.url }}{% else %}{% static 'img/icons/icon_category_lg.svg' %}{% endif %}" alt="{{ category.name }}">
                            <img class="hidden" src="{% if category.hover_image %}{{ category.hover_image.url }}{% else %}{% static 'img/images/cover_popular.webp' %}{% endif %}" alt="{{ category.name }} hover">
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Популярные категории не найдены.</p>
            {% endfor %}
		</div>
	</div>
</section>