{% load static %}


{% if main_advantages %}
<section class="options">
	<div class="container">
		<div class="options__wrapper">
			{% for advantage in main_advantages %}
			<div class="options__item">
				<div class="options__item-icon">
				{% if advantage.icon %}
                    <img src="{{ advantage.icon.url }}" alt="{{ advantage.title }}">
                {% endif %}
				</div>
				<div class="options__item-title">{{ advantage.title }}</div>
				<div class="options__item-descr">{{ advantage.description|linebreaksbr }}</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endif %}