{% load static %}

<section class="cover">
	<div class="container">
		<div class="cover__wrapper">
			<h1>{{ cover_text_left|safe }}</h1>
			<div class="cover__text">
				
				{{ cover_text_right|safe }}
				
				<a class="cover__text-btn" href="/catalog/">В каталог</a>
			</div>
		</div>
	</div>
	<!-- для обрезки шестеренок-->
	<div class="container__inner">
		<div class="cover__animation"> 
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="one">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="two">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="three">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="four">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="five">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="six">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="seven">
            <img src="{% static 'img/icons/wheel.svg' %}" alt="" data-wheel="eight">
        </div>
	</div>
</section>
