{% load static review_tags %}


<section class="reviews swiper">
	<div class="container">
		<div class="subtitle" id="subtitle_reviews">
			<div class="subtitle_red">Отзывы</div>
			<div class="reviews__controls">
				<div class="reviews__controls-left"> </div>
				<div class="reviews__controls-right"></div>
			</div>
		</div>
		<div class="reviews__slider swiper">
			<div class="reviews__wrapper swiper-wrapper">
				{% for review in main_reviews %}
				<div class="reviews__item swiper-slide">
					<div class="reviews__item-caption">
						<div class="reviews__item-avatar"> 
                            {% if review.avatar %}
                                <img src="{{ review.avatar.url }}" alt="Аватар {{ review.name }}" loading="lazy">
                            {% else %}
                                <img src="{% static 'img/icons/avatar.svg' %}" alt="profile" loading="lazy">
                            {% endif %}						</div>
						<div class="reviews__item-author">
                            <p>{{ review.name }}</p>
                            <p>{{ review.surname }}</p>
                            <span class="date">{{ review.created_at|date:"d M, Y" }} г.</span> 
						</div>
					</div>
					<div class="reviews__item-stars">
						{% render_stars review.rating %}
					</div>
					<div class="reviews__item-text">
						{{ review.text|truncatewords:40 }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
